# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=postgres

# WEBCAT
SQLALCHEMY_DEBUG=1
UVICORN_HOST=0.0.0.0
UVICORN_PORT=8080
FASTAPI_DEBUG=0

# Observability
APP_NAME=cats
GRPC_ENDPOINT=http://cats.tempo:4317
